.main-layout {
  display: grid;
  grid-template-columns: minmax(255px, 1fr) 983px minmax(255px, 1fr);
}

.main-layout > *:not(.full) {
  grid-column: 2;
}

.main-layout > *.full {
  grid-column: 1 / -1;
}

.posts-layout {
  display: grid;
  row-gap: var(--posts-gap);

  padding-block: var(--posts-gap);
  border-inline: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
}
