/* Mobile only */
@media (max-width: 760px) {
  .main-header {
    height: 60px;
  }

  .main-header .main-nav {
    position: fixed;
    top: 60px;
    left: 50%;

    height: 100dvh;

    transform: translate(-50%, -100%);
    transition: transform 0.6s;
  }

  body.menu-open .main-nav {
    transform: translate(-50%, 0);
  }

  body.menu-open .main-header {
    z-index: 10;
  }

  .main-nav .main-nav-list {
    flex-direction: column;
    gap: 10px;
  }

  .main-nav-list li {
    background-color: rgb(120, 120, 120);
    width: 70vw;
    border: none;
  }

  .read-more-dialog .read-more-content {
    width: 100vw;
    height: 100vh;

    justify-content: center;
  }

  .read-more-content .read-more-title {
    font-size: 4em;
    text-align: center;
  }
}

/* Medium */
@media (min-width: 760px) {
  .main-layout {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 720px) minmax(
        20px,
        1fr
      );
  }

  .main-nav-list li {
    width: 135px;
    border-inline-end: 1px solid black;
  }

  .main-nav-list li:first-of-type {
    border-inline-start: 1px solid black;
  }

  .post {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'image title'
      'image text'
      'image btn';
    column-gap: 40px;
  }

  .post .post-img {
    height: 100%;
  }

  .main-nav-list li {
    width: 150px;
    height: 110px;
  }

  .btn-menu {
    display: none;
  }

  .main-footer .footer-text {
    font-size: 1.3rem;
  }
}

@media (min-width: 1020px) {
  .main-layout {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 980px) minmax(
        20px,
        1fr
      );
  }
}
