@font-face {
  font-family: latoRegular;
  src: url(../../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: latoBold;
  src: url(../../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: eurofurence;
  src: url(../../fonts/Eurofurence/eurof55.ttf);
}
