.logo {
  font-family: eurofurence, serif;
  font-size: 4rem;
}

.main-header .logo {
  color: var(--primary-1);
}

.main-footer .logo {
  color: #292929;
  margin-block-end: 3.2rem;
}

.logo-dot {
  color: var(--secondary);
}
