.main-header {
  background-color: RGBA(41, 41, 41, 1);
  box-shadow: inset 0 -6px 0 black;
}

.main-nav-list li {
  width: 135px;
  height: 133px;

  border-inline-end: 1px solid black;

  transition: var(--color-transition);
}

.main-nav-list li:first-of-type {
  border-inline-start: 1px solid black;
}

.main-nav-list li:hover,
.main-nav-list li.selected {
  box-shadow: inset 0 -6px 0 var(--secondary);
}

.main-nav-list a {
  font-size: 1.6rem;
  color: var(--primary-1);

  transition: var(--color-transition);
}

.main-nav-list li:hover a,
.main-nav-list li.selected a {
  color: var(--secondary);
}
