.main-footer {
  flex-direction: column;

  height: 318px;

  padding-block: 8.2rem;
  border-block-start: 1px solid var(--border-color);

  background-color: RGBA(248, 248, 248, 1);
}

.footer-text {
  margin-block-end: 3.8rem;

  font-size: 1.3rem;
  color: #a6a6a6;
}

.footer-nav-list {
  gap: 1.7rem;
}

.footer-nav-list li {
  width: 43px;
  height: 43px;

  color: var(--primary-1);
  background: RGBA(229, 229, 229, 1);

  transition: var(--color-transition);
  cursor: pointer;
}

li:hover {
  background-color: RGBA(81, 111, 173, 1);
}

.footer-nav-list li i {
  font-size: 1.6rem;
  color: var(--primary-1);

  transition: var(--color-transition);
}
