.menu-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.808);
  cursor: pointer;
  pointer-events: none;
  opacity: 0;

  transition: opacity 0.6s;
}

/* Prevent scrolling when menu is open */
body.menu-open {
  overflow-y: hidden;
}

body.menu-open .menu-backdrop {
  opacity: 1;
  pointer-events: auto;
}

/* When the menu is open, the links are still clickable because of the of the pointer events on the backdrop */
.body.menu-open a {
  pointer-events: none;
}
