.pagination div {
  padding: 2.9rem 2.6rem;
  border-inline: 1px solid var(--border-color);
}

.pagination .btn {
  border: none;

  font-size: 1.8rem;
  font-family: latoBold, serif;
  text-transform: uppercase;
  background-color: transparent;
  color: #818181;
}
